* {
  box-sizing: border-box; 	/* menyesuaikan size semua elemen = width+padding+border */
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear:left;              /* menghapus float element */
}

header {
  height: 150px;
  width: 100%;
  background-color: white;
  position:fixed;     /* posisi dibuat tetap */
  top:0;              /* posisi dari atas = 0 dan dari kiri tidak ditentukan */
  z-index:10;         /* menetapkan header pada layer tertinggi agar tidak tumpang tindih */
}

.container {
  max-width: 1170px;        /* maksimum lebar content agar tidak menjadi renggang */ 
  width: 100%;  			/* lebar diubah ke maksimum layar */
  padding-top: 150px;
  margin: 0 auto;
}

footer {
  padding-top:30px;
}

/* Menyesuaikan Ukuran */
/* Untuk Tablets */

@media (max-width: 1000px) {
  
}

/* Untuk Smartphones */

@media (max-width: 670px) {
  
}
